<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MyGame.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Default" connectionString="Data Source=.\UsersDb.db;Version=3;" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
    <appSettings>
        <add key="ClientSettingsProvider.ServiceUri" value="" />
    </appSettings>
    <userSettings>
        <MyGame.Properties.Settings>
            <setting name="Difficulty" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Circle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Red" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Green" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Blue" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Square" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Triangle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GridX" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="GridY" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="LastUsername" serializeAs="String">
                <value />
            </setting>
        </MyGame.Properties.Settings>
    </userSettings>
    <system.web>
        <membership defaultProvider="ClientAuthenticationMembershipProvider">
            <providers>
                <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
            </providers>
        </membership>
        <roleManager defaultProvider="ClientRoleProvider" enabled="true">
            <providers>
                <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
            </providers>
        </roleManager>
    </system.web>
</configuration>